<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %} my shop{% endblock %}</title>
</head>
<body>
    <div id="header" style="text-align: center;height: 100px;width: 1000px;background-color: gray">
        <a href="/myshop" class="logo" style="">my shop</a>
    </div>

    <div id="subheader" style="text-align: center;height: 100px;width: 1000px;background-color: red">
        <div class="cart">
            YOUR CART IS EMPTY.
        </div>
    </div>
<div id="content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>